<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TopPlaylist | Most Played</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header id="main-header">
		<a href="/" id = "home">
			<h1>TopPlaylist</h1>
		</a>
		<nav class="nav">
			<ul class="nav-list">
				<li><a href="#about">About</a></li>
				<li><a href="https://www.github.com/thebinsubtleissubtle2/topPlaylist">Github</a></li>
			</ul>
		</nav>
	</header> <!-- /header -->	
	<section id="showcase">
		<div id="most-played-wrapper">
			<div id="search-field">
				<form action="/most_played" method = "post" id = "most-played-form">
					<select name="type" id="type">
						<option value="">Select type</option>
						<option value="artist">Artist</option>
						<option value="track">Track</option>
					</select>
					<select name="term" id="term">
						<option value="">Select Term</option>
						<option value="short-term">Short Term</option>
						<option value="medium-term">Medium Term</option>
						<option value="long-term">Long Term</option>
					</select>
					<input type="submit" value="Search">
				</form>
				<button id="make-playlist">Make Playlist</button>
			</div>
			
			<div class="results-wrapper">
				<div class="container">
					<div id="short-term">
						<h1>SHORT TERM</h1>
						<table id = "short-term-artists">
							<thead>
								<th>#</th>
								<th>Artist Name</th>
							</thead>
							<tbody>
								%for i, artist in enumerate(short_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										<div class="short-term-image">
											%if len(artist["images"]) > 0:
												<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
											%else:
												<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
											%end
										</div>
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "short-term-tracks">
							<thead>
								<th>#</th>
								<th>Track Name</th>
								<th>Artist</th>
								<th>Album</th>
							</thead>
							<tbody>
								%for i, track in enumerate(short_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										%if len(track["album"]["images"]) > 0:
											<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
										%end
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!-- /#short-term   -->

					<div id="medium-term">
						<h1>MEDIUM TERM</h1>
						<table id = "medium-term-artists">
							<thead>
								<th>#</th>
								<th>Artist Name</th>
							</thead>
							<tbody>
								%for i, artist in enumerate(medium_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										%if len(artist["images"]) > 0:
											<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
										%else:
											<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
										%end
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "medium-term-tracks">
							<thead>
								<th>#</th>
								<th>Track Name</th>
								<th>Artist</th>
								<th>Album</th>
							</thead>
							<tbody>
								%for i, track in enumerate(medium_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										%if len(track["album"]["images"]) > 0:
											<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
										%end
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!--  /#medium-term   -->

					<div id="long-term">
						<h1>LONG TERM</h1>
						<table id = "long-term-artists">
							<thead>
								<th>#</th>
								<th>Artist Name</th>
							</thead>
							<tbody>
								%for i, artist in enumerate(long_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										%if len(artist["images"]) > 0:
											<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
										%else:
											<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
										%end
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "long-term-tracks">
							<thead>
								<th>#</th>
								<th>Track Name</th>
								<th>Artist</th>
								<th>Album</th>
							</thead>
							<tbody>
								%for i, track in enumerate(long_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										%if len(track["album"]["images"]) > 0:
											<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
										%end
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!-- /#long-term    -->
				</div> <!-- /.container    -->
			</div> <!-- /#.results-wrapper    -->
		</div> <!-- /#search-wrapper   -->
	</section> <!-- /section -->
	<footer>
		<p>&copy; {{year}} RC Pery.</p>
	</footer>
	<script src = "../../static/js/most_played.js"></script>

</body>
</html>