<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TopPlaylist | Most Played</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body id = "most-played-body">
	<header id="main-header">
		<a href="/" id = "home">
			<h1>TopPlaylist</h1>
		</a>
		<nav class="nav">
			<ul class="nav-list">
				<li><a href="https://www.github.com/thebinsubtleissubtle2/topPlaylist">Github</a></li>
				<li class = "dropdown">
					%if login_status:
						<a href="/most_played">
							%if current_user["display_name"]:
								{{current_user["display_name"]}}
							%else:
								{{current_user["id"]}}
							%end	
						</a>
					%else:
						<a href="{{link}}">Log in to Spotify</a>
					%end
				</li>
			</ul>
		</nav>
	</header> <!-- /header -->	
	<section id="showcase">
		<div id="most-played-wrapper">
			<div id="search-field">
				<div class="container">
					<form action="/most_played" method = "post" id = "most-played-form">
						<select name="type" id="type">
							<option value="">Select type</option>
							<option value="artist">Artist</option>
							<option value="track">Track</option>
						</select>
						<select name="term" id="term">
							<option value="">Select Term</option>
							<option value="short-term">Short Term</option>
							<option value="medium-term">Medium Term</option>
							<option value="long-term">Long Term</option>
						</select>
						<input type="submit" value="Search">
					</form>
					<button id="make-playlist">Make Playlist</button>
				</div>
			</div>
			
			<div class="results-wrapper">
				<div class="container">
					<div id="short-term">
						<h1>SHORT TERM</h1>
						<table id = "short-term-artists">
							<thead>
								<th>#</th>
								<th colspan = "2">Artist Name</th>
							</thead>
							<tbody class = "table-results">
								%for i, artist in enumerate(short_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										<span class = "image-wrapper">
											%if len(artist["images"]) > 0:
												<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
											%else:
												<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "short-term-tracks">
							<thead>
								<th>#</th>
								<th colspan = "2">Track Name</th>
								<th>Artist</th>
								<th colspan = "2">Album</th>
							</thead>
							<tbody class = "table-results">
								%for i, track in enumerate(short_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										%if track["preview_url"]:	
												<audio class = "audio-track-preview" controls>
													<source src = "{{track['preview_url']}}" type = "audio/mpeg">
												</audio>
										%else:
												<p>No Preview Available</p>
											
										%end
									</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										<span class="image-wrapper">
											%if len(track["album"]["images"]) > 0:
												<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!-- /#short-term   -->

					<div id="medium-term">
						<h1>MEDIUM TERM</h1>
						<table id = "medium-term-artists">
							<thead>
								<th>#</th>
								<th colspan = "2">Artist Name</th>
							</thead>
							<tbody class = "table-results">
								%for i, artist in enumerate(medium_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										<span class = "image-wrapper">
											%if len(artist["images"]) > 0:
												<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
											%else:
												<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "medium-term-tracks">
							<thead>
								<th>#</th>
								<th colspan = "2">Track Name</th>
								<th>Artist</th>
								<th colspan = "2">Album</th>
							</thead>
							<tbody class = "table-results">
								%for i, track in enumerate(medium_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										%if track["preview_url"]:	
												<audio class = "audio-track-preview" controls>
													<source src = "{{track['preview_url']}}" type = "audio/mpeg">
												</audio>
										%else:
												<p>No Preview Available</p>
											
										%end
									</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										<span class="image-wrapper">
											%if len(track["album"]["images"]) > 0:
												<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!--  /#medium-term   -->

					<div id="long-term">
						<h1>LONG TERM</h1>
						<table id = "long-term-artists">
							<thead>
								<th>#</th>
								<th colspan = "2">Artist Name</th>
							</thead>
							<tbody>
								%for i, artist in enumerate(long_term_artists):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										<span class = "image-wrapper">
											%if len(artist["images"]) > 0:
												<img src="{{artist['images'][0]['url']}}" alt="{{artist['name']}}" width = "100" height = "100">
											%else:
												<img src="static/img/person-placeholder.jpg" alt="{{artist['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{artist["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
						<table id = "long-term-tracks">
							<thead>
								<th>#</th>
								<th colspan = "2">Track Name</th>
								<th>Artist</th>
								<th colspan = "2">Album</th>
							</thead>
							<tbody class = "table-results">
								%for i, track in enumerate(long_term_tracks):
								<tr>
									<td>{{i + 1}}</td>
									<td>
										%if track["preview_url"]:	
												<audio class = "audio-track-preview" controls>
													<source src = "{{track['preview_url']}}" type = "audio/mpeg">
												</audio>
										%else:
												<p>No Preview Available</p>
											
										%end
									</td>
									<td>{{track["name"]}}</td>
									<td>
										<ul>
										%for i, artists_name in enumerate(track["artists"]):
											<li>
												<a href="{{track['artists'][i]['external_urls']['spotify']}}" target="_blank">
													{{track["artists"][i]["name"]}}
												</a>
											</li>
										%end
										</ul>
									</td>
									<td>
										<span class="image-wrapper">
											%if len(track["album"]["images"]) > 0:
												<img src="{{track['album']['images'][0]['url']}}" alt="{{track['album']['name']}}" width = "100" height = "100">
											%end
										</span>
									</td>
									<td>
										{{track["album"]["name"]}}
									</td>
								</tr>
								%end
							</tbody>
						</table>
					</div> <!-- /#long-term    -->
				</div> <!-- /.container    -->
			</div> <!-- /#.results-wrapper    -->
		</div> <!-- /#search-wrapper   -->
	</section> <!-- /section -->
	<footer id = "footer">
		<p>&copy; {{year}} TopPlaylist.</p>
	</footer>

	<!-- modals -->
	<div id="make-playlist-modal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<span class="close-btn">&times;</span>
				<h1>Make Playlist</h1>
				
			</div>
			<div class="modal-body">
				<form action="#make-playlist" id = "make-playlist-form">
					<div class="form-group">
						<label for="">Playlist Name</label>
						<input type="text" name="playlist_name" id="playlist-name" placeholder = "Enter Playlist Name...">
					</div>
					<div class="form-group">
						<label for="">Term</label>
						<select name="playlist_term" id="playlist-term">
							<option value="">Select term...</option>
							<option value="shortTerm">Short Term</option>
							<option value="mediumTerm">Medium Term</option>
							<option value="longTerm">Long Term</option>
						</select>
					</div>
					<div id="buttons">
						<input type="submit" value="Create Playlist">
						<input type="button" class = "close-btn" value="Close">
					</div>
				</form>
			</div>
				
		</div>
	</div>
	<input type="hidden" name="mode" id = "mode">
	<script src = "../../static/js/most_played.js"></script>

</body>
</html>