<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TopPlaylist | Search</title>
	<link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
	<header id="main-header">
		<a href="/" id = "home">
			<h1>TopPlaylist</h1>
		</a>
		<nav class="nav">
			<ul class="nav-list">
				<li><a href="/#about">About</a></li>
				<li><a href="https://www.github.com/thebinsubtleissubtle/topPlaylist">Github</a></li>
				<li><a href="{{link}}">Log in to Spotify</a></li>
			</ul>
		</nav>
	</header>
	<section id="showcase">
		<form action="/" method = "post">
			<input type="text" name="search" id="search-area" placeholder = "Search here..." value = "{{keyword}}">
			<select name="type" id="type">
				<option value="album">Albums</option>
				<option value="artist">Artists</option>
				<option value="track">Tracks</option>
			</select>
			<input type="submit" value="Search">
		</form>
		<div class="results-wrapper">
			<div class="container">
				<!-- {{result}} -->
				%if type == "track":
					<div class="track-results-wrapper">
						%for item in result["tracks"]["items"]:
							<div class="track-album-image">
								%if len(item["album"]["images"]) > 0:
									<img src="{{item['album']['images'][0]['url']}}" alt="{{item['album']['name']}}" width = "100" height = "100">
								%else:
									<img src="../../img/track.jpeg" alt="{{item['album']['name']}}" width = "100" height = "100">
								%end
							</div>
							<div class="track-header">
								<h1> 
									<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item["name"]}}</a>
								</h1>
							</div>
							<div class="track-artists">
								<ul>
									%for artist in item["artists"]:
										<li>{{artist["name"]}}</li>
									%end
								</ul>
							</div>
						%end
					</div>
				<p class = "number-of-tracks">
					There are {{result["tracks"]["total"]}} results on "{{keyword}}".
				</p>
				<!-- TODO: albums and artists types -->
				%elif type == "album":
					<div class="album-results-wrapper">
						%for item in result["albums"]["items"]:
							<div class="album">
								<div class="album-image">
									%if len(item["images"]) > 0:
										<img src="{{item['images'][0]['url']}}" alt="{{item['name']}}" width = "100" height = "100">
									%else:
										<img src="../../img/album.jpeg" alt="{{item['name']}}" width = "100" height = "100">
									%end
								</div>
								<div class="album-header">
									<h1>
										<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item['name']}}</a>
									</h1>
								</div>
								<div class="album-artists">
									<ul>
										%for artist in item["artists"]:
											<li>{{artist["name"]}}</li>
										%end
									</ul>
								</div>
							</div>
						%end
					</div>
				%elif type == "artist":
					<div class="artist-results-wrapper">
						%for item in result["artists"]["items"]:
							<div class="artist">
								<div class="artist-image">
									%if len(item["images"]) > 0:
										<img src="{{item['images'][0]['url']}}" alt="{{item['name']}}" width = "100" height = "100">
									%else:
										<img src="../../static/img/person-placeholder.jpg" alt="{{item['name']}}" width = "100" height = "100">
									%end
								</div>
								<div class="artist-header">
									<h1>
										<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item['name']}}</a>
									</h1>
								</div>
							</div>
						%end
					</div>
				%end
			</div>
		</div>

		<!-- TODO: make prev link disabled when offset reaches zero -->
		<a id = "prev" href="../../../search/{{keyword}}/{{type}}/{{prev_offset}}">Previous</a>
		<a id = "total" href="../../../search/{{keyword}}/{{type}}/{{next_offset}}">Next</a>
	</section>
	<footer>
		<p>Icons made by <a href="http://bylucyg.com/" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
		<p>
			&copy; {{year}} RC Pery.
		</p>
	</footer>
	<p hidden id = "offset-data">{{offset_data}}</p>
	<script src = "../../../static/js/search.js"></script>
</body>
</html>