<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TopPlaylist | Search</title>
	<link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
	<header id="main-header">
		<a href="/" id = "home">
			<h1>TopPlaylist</h1>
		</a>
		<nav class="nav">
			<ul class="nav-list">
				<li><a href="/#about">About</a></li>
				<li><a href="https://www.github.com/thebinsubtleissubtle2/topPlaylist">Github</a></li>
				<li><a href="{{link}}">Log in to Spotify</a></li>
			</ul>
		</nav>
	</header>
	<section id="showcase">
		<div id="search-wrapper">
			<form action="/" method = "post" id = "search-area-search">
				<input type="text" name="search" id="search-text" placeholder = "Search here..." value = "{{keyword}}">
				<select name="type" id="search-type">
					<option id = "search-album" value="album">Albums</option>
					<option id = "search-artist" value="artist">Artists</option>
					<option id = "search-track" value="track">Tracks</option>
				</select>
					<input type="submit" value="Search">
			</form>
			<div class="results-wrapper">
					%if type == "track":
						<div class="container">
							<div class="track-results-wrapper">
								%for item in result["tracks"]["items"]:
									<div class="track-result">
										<div class="track-album-image">
											%if len(item["album"]["images"]) > 0:
												<img src="{{item['album']['images'][0]['url']}}" alt="{{item['album']['name']}}">
											%else:
												<img src="../../img/track.jpeg" alt="{{item['album']['name']}}" width = "100" height = "100">
											%end
										</div>
										<div class="track-header">
											<h1> 
												<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item["name"]}}</a>
											</h1>
										</div>
										<div class="track-artists">
											<h1>Artists:</h1>
											<ul>
												<!-- TODO: Make a modal here on artist preview.  -->
												%for artist in item["artists"]:
													<li>{{artist["name"]}}</li>
												%end
											</ul>
										</div>
										%if item["preview_url"]:
											<div class="track-preview">
												<audio controls>
													<source src = "{{item['preview_url']}}" type = "audio/mpeg">
												</audio>
											</div>
										%else:
											<div class="no-preview">
												<p>No preview available.</p>
											</div>
										%end
										<div class="track-album">
											<!-- TODO: Make a modal here on album preview.  -->
											<p>From the album <a href="{{item['album']['external_urls']['spotify']}}" target = "_blank">{{item['album']['name']}}</a>.</p>
											<!-- <p>
												From the album <a href="#preview-album-modal">{{item['album']['name']}}</a>
											</p> -->
										</div>
									</div>
								%end
							</div> <!-- /.results-wrapper    -->	
							<p class = "number-of-tracks">
								There are {{result["tracks"]["total"]}} results on "{{keyword}}".
							</p>
						</div> <!-- /.container   -->
						<!-- TODO: make a modal on previewing tracks of selected album    -->
					%elif type == "album":
						<div class="container">
							<div class="album-results-wrapper">
								%for item in result["albums"]["items"]:
									<div class="album-result">
										<div class="album-image">
											%if len(item["images"]) > 0:
												<img src="{{item['images'][0]['url']}}" alt="{{item['name']}}" width = "100" height = "100">
											%else:
												<img src="../../img/album.jpeg" alt="{{item['name']}}" width = "100" height = "100">
											%end
										</div>
										<div class="album-header">
											<h1>
												<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item['name']}}</a>
											</h1>
										</div>
										<div class="album-artists">
											<ul>
												%for artist in item["artists"]:
													<li>{{artist["name"]}}</li>
												%end
											</ul>
										</div>
									</div>
								%end
							</div> <!-- /.album-results-wrapper    -->
							<p class = "number-of-albums">
								There are {{result["albums"]["total"]}} results on "{{keyword}}".
							</p>
						</div> <!-- /.container    -->
					%elif type == "artist":
						<div class="container">
							<div class="artist-results-wrapper">
								%for item in result["artists"]["items"]:
									<div class="artist-result">
										<div class="artist-image">
											%if len(item["images"]) > 0:
												<img src="{{item['images'][0]['url']}}" alt="{{item['name']}}">
											%else:
												<img src="../../static/img/person-placeholder.jpg" alt="{{item['name']}}">
											%end
										</div>
										<div class="artist-header">
											<h1>
												<a href="{{item['external_urls']['spotify']}}" target = "_blank">{{item['name']}}</a>
											</h1>
										</div>
										<div class="artist-followers">
											<p>Has {{item["followers"]["total"]}} followers.</p>
										</div>
									</div>
								%end
							</div> <!-- /.artists-results-wrapper   -->
							<p class = "number-of-artists">
								There are {{result["artists"]["total"]}} results on "{{keyword}}".
							</p>
						</div> <!-- /.container    -->
					%end
			</div> <!-- /.results-wrapper    -->
			<a id = "prev" href="../../../search/{{keyword}}/{{type}}/{{prev_offset}}">Previous</a>
			<a id = "next" href="../../../search/{{keyword}}/{{type}}/{{next_offset}}">Next</a>
		</div> <!-- /#search-wrapper   -->

	</section>
	<footer>
		<p>Icons made by <a href="http://bylucyg.com/" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
		<p>
			&copy; {{year}} TopPlaylist.
		</p>
	</footer>
	<p hidden id = "offset-data">{{offset_data}}</p>
	<p id="get-type" hidden>{{get_type}}</p>
	<script src = "../../../static/js/search.js"></script>

	
</body>
</html>