@font-face{
	font-family: "Abel";
	src: url("../fonts/Abel-Regular.ttf");
}

body{
	height: 100%;
	background-color: #f4f4f4;
	font-weight: 18px;
	font-family: "Abel", sans-serif;
	line-height: 1.8em;
	margin: 0;
}

/* global*/

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */

#main-header{
	background-color: #0099e6;
	padding: 10px;
	color: #fff;
}

#main-header h1{
	width: 200px;
}

#main-header .nav ul{
	padding: 0;
	list-style: none;
	float: right;
	position: relative;
	bottom: 58px;
}

#main-header li{
	display: inline;
	padding: 10px;
}

#main-header a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

#main-header #home{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

#main-header a:hover{
	text-decoration:underline;
}

/* showcase */

#showcase{
	text-align:center;
}

/* #showcase index.html */

#showcase #landing{
	position: relative;
	top: 50%;
	width: 100%;
	padding:250px 0 35% 0;
	font-size: 28px;
	background-color: #f4f4f4;
	background-image: url("../img/bg-5.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	opacity: 0.75;

}

#showcase #landing #landing-text{
	padding-bottom: 20px;
	animation-name: load-landing;
	animation-duration: 1s;
}

#showcase #landing form{
	padding-bottom: 40px;
	width: 100%;
	right: 200px;
}


#showcase #landing #search-area-index #search-area{
	border: 3px solid #fff;
	background: transparent;
	border-radius: 40px;
	color: #fff;
	padding: 10px;
	width: 65%;
	font-size:20px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index #search-area:hover{
	background: #fff;
	color: #111;
	border: 3px solid #fff;
}


#showcase #landing #search-area-index input[type = "submit"]{
	background: transparent;
	border: 3px solid #fff;
	border-radius: 40px;
	padding: 10px;
	color: #fff;
	width: 10%;
	font-size: 18px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index input[type = "submit"]:hover{
	background: #fff;
	color: #111;
	border: 3px solid #fff;
	text-decoration: underline;
	cursor: pointer;
}

#showcase #landing #search-area-index #type{
	background: transparent;
	border: 3px solid #fff;
	border-radius: 40px;
	padding: 10px;
	color: #fff;
	width: 20%;
	font-size: 20px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index #type:hover{
	background: #fff;
	color: #111;
	border: 3px solid #fffe;
	cursor: pointer;
	padding: 10px;
}

#showcase #landing #search-area-index #type option{
	background: #f4f4f4;
	color: #000;
	font-size: 16px;
	padding: 10px;
}

#showcase #landing #spotify-link{
	border-radius: 40px;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
	background: #1ed760;
	color: #eee;
}

#showcase #landing #spotify-link:hover{
	border: none;
	text-decoration: underline;
	color: #eee;
}




/* #showcase search.html */
#showcase #search-wrapper {
	background: #282923;
	color: #fff;
}

#showcase #search-wrapper .results-wrapper{
	text-align:center;
	padding-top: 20px;
	border-top: 3px solid #84bd00;
}

/* #search-area-search */

#showcase #search-wrapper #search-area-search{
	width: 100%;
	right: 200px;
	text-align: center;
	/*padding-bottom: 60px;*/
}

#showcase #search-wrapper #search-area-search #search-text{
	border: 3px solid #aaa;
	background: transparent;
	border-radius: 40px;
	color: #aaa;
	padding: 10px;
	width: 40%;
	font-size:20px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper #search-area-search #search-text:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
}

#showcase #search-wrapper #search-area-search input[type = "submit"]{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 10%;
	font-size: 18px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper #search-area-search input[type = "submit"]:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}

#showcase #search-wrapper #search-area-search #search-type{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 20%;
	font-size: 20px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper #search-area-search #search-type:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}


/* track results */

#showcase #search-wrapper .results-wrapper .track-results-wrapper{
	/*padding: 10px;*/
	background-color: #282923;
	color: #fff;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result{
	padding: 50px;
	border-bottom: 5px solid #0099e6;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album-image{
	float: left;
	left: 70%;
	width: 20%;
	height: 100%;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album-image img{
	width: 80%;
	height: 80%;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-preview{
	float: left;
	position: relative;
	border: 3px solid orange;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-header a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-header a:hover{
	color: #84bd00;
	text-decoration: underline;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists h1{
	text-align: left;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists{
	padding: 20px;
	margin-left:300px;
	margin-right: 20px;
	padding-bottom: 40px;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists ul{
	list-style: none;
	display: inline;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album a:hover{
	color: #84bd00;
	text-decoration: underline;
}

/* album results */

#showcase #search-wrapper .results-wrapper .album-results-wrapper{
	/*padding: 10px;*/
	background-color: #282923;
	color: #fff;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result{
	padding: 50px;
	border-bottom: 5px solid #0099e6;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-image{
	float: left;
	left: 70%;
	width: 20%;
	height: 100%;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-image img{
	width: 80%;
	height: 80%;
}


#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-header a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-header a:hover{
	color: #84bd00;
	text-decoration: underline;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-artists h1{
	text-align: left;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-artists{
	padding: 20px;
	margin-left:300px;
	margin-right: 20px;
	padding-bottom: 40px;
}

#showcase #search-wrapper .results-wrapper .album-results-wrapper .album-result .album-artists ul{
	list-style: none;
	display: inline;
}

/* artist results */

#showcase #search-wrapper .results-wrapper .artist-results-wrapper{
	/*padding: 10px;*/
	background-color: #282923;
	color: #fff;
}

#showcase #search-wrapper .results-wrapper .artist-results-wrapper .artist-result{
	padding: 50px;
	border-bottom: 5px solid #0099e6;
}

#showcase #search-wrapper .results-wrapper .artist-results-wrapper .artist-result .artist-image{
	float: left;
	left: 70%;
	width: 20%;
	height: 100%;
}

#showcase #search-wrapper .results-wrapper .artist-results-wrapper .artist-result .artist-image img{
	width: 80%;
	height: 80%;
}


#showcase #search-wrapper .results-wrapper .artist-results-wrapper .artist-result .artist-header a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .artist-results-wrapper .artist-result .artist-header a:hover{
	color: #84bd00;
	text-decoration: underline;
}


 /* #showcase most_played.html */


#most-played-body{
	width: 100%;
	height: 100%;
	background-color: #292823;
	position: relative;
}

#most-played-body #footer{
	display: none;
}

#showcase #most-played-wrapper .results-wrapper #short-term, 
#showcase #most-played-wrapper .results-wrapper #medium-term, 
#showcase #most-played-wrapper .results-wrapper #long-term{
	display: none;
	animation-name: animate-heads;
	animation-duration: 2s;
	animation-fill-mode: forwards;
} 


#showcase #most-played-wrapper{
	width: 100%;
	height: 100%;
	background: #292823;
	/*background-attachment: ;*/
	color: #fff;

}

#showcase #most-played-wrapper #search-field{
 	margin-bottom: 20px;
 	padding-top: 10px;
}



#showcase #most-played-wrapper #most-played-form #type{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 12%;
	font-size: 18px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #most-played-wrapper #most-played-form #type:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}

#showcase #most-played-wrapper #most-played-form input[type = "submit"]{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 10%;
	font-size: 18px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #most-played-wrapper #most-played-form input[type = "submit"]:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}

#showcase #most-played-wrapper #most-played-form #term{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 15%;
	font-size: 18px;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #most-played-wrapper #most-played-form #term:hover{
	border: 3px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}

#showcase #most-played-wrapper #make-playlist{
	background: transparent;
	border: 3px solid #aaa;
	border-radius: 40px;
	padding: 10px;
	color: #aaa;
	width: 20%;
	font-size: 18px;
	margin: 20px 0;
	transition-property: background, color, border;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #most-played-wrapper #make-playlist:hover{
	background: #84bd00;
	color: #fff;
	border: 3px solid #84bd00;
	cursor: pointer;
}

#showcase #most-played-wrapper .results-wrapper{
	padding-right: 20px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 10% auto;
	width: 40%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 25px 0 rgba(0,0,0,0.4);
	animation-name: open-modal;
	animation-duration: 1s;
}

.modal-header h1{
	margin: 0;
	text-align: center;
}

.modal-header .close-btn{
	float: right;
	display: inline;
	transition-property: color;
}

.modal-header .close-btn:hover{
	color: #84bd00;
	cursor: pointer;
}

.modal-header{
	background-color: #292823;
	border-bottom: 5px solid #84bd00;
	padding: 15px;
	color: #fff;
}

.modal-body #make-playlist-form .form-group{
	padding: 10px 20px;
}

.modal-body #make-playlist-form #buttons{
	background-color: #292823;
	border-top: 5px solid #84bd00;
	width: 100%;
}

.modal-body #make-playlist-form #buttons input[type = "submit"],
.modal-body #make-playlist-form #buttons input[type = "button"]{
	float: right;
	background-color: transparent;
	padding: 15px;
	color: #aaa;
	border: 3px solid #aaa;
	border-radius: 40px;
	transition-property: background-color, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

.modal-body #make-playlist-form #buttons input[type = "submit"]:hover,
.modal-body #make-playlist-form #buttons input[type = "button"]:hover{
	background-color: #84bd00;
	color: #fff;
	border: 3px solid #84bd00;
	cursor: pointer;
}


/* footer */
footer{
	background: #000;
	position: relative;
	color: #fff;
	text-align:center;
	padding: 10px;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

footer a:visited{
	color: #eee;
	text-decoration: none;
}


/*animations index.html*/
@keyframes load-landing{
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes load-about{
	from{
		top: -1000px;
	}
	to{
		top: 50%;
	}
}


/*animations most-played.html*/
@keyframes animate-heads{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes open-modal{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



/*
	TODO: 
		- make every page responsive (@media(min-width));
*/