body{
	height: 100%;
	background-color: #f4f4f4;
	font-weight: 18px;
	font-family: Verdana;
	line-height: 1.8em;
	margin: 0;
}

/* global*/

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */

#main-header{
	background: #0099e6;
	padding: 10px;
	color: #fff;
}

#main-header h1{
	width: 200px;
}

#main-header .nav ul{
	padding: 0;
	padding: 0;
	list-style: none;
	float: right;
	position: relative;
	bottom: 58px;
}

#main-header li{
	display: inline;
	padding: 10px;
}

#main-header a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

#main-header #home{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

#main-header a:hover{
	text-decoration:underline;
}

/* showcase */

#showcase{
	text-align:center;
}

/* #showcase index.html */

#showcase #landing{
	position: relative;
	top: 50%;
	width: 100%;
	padding:250px 0 35% 0;
	font-size: 28px;
	background: url("../img/bg-5.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	opacity: 0.75;

}

#showcase #landing #landing-text{
	padding-bottom: 20px;
	animation-name: load-landing;
	animation-duration: 1s;
}

#showcase #landing form{
	padding-bottom: 40px;
	width: 100%;
	right: 200px;
}


#showcase #landing #search-area-index #search-area{
	border: 3px solid #fff;
	background: transparent;
	border-radius: 40px;
	color: #fff;
	padding: 10px;
	width: 65%;
	font-size:20px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index #search-area:hover{
	background: #fff;
	color: #111;
	border: none;
}


#showcase #landing #search-area-index input[type = "submit"]{
	background: transparent;
	border: 3px solid #fff;
	border-radius: 40px;
	padding: 10px;
	color: #fff;
	width: 10%;
	font-size: 18px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index input[type = "submit"]:hover{
	background: #fff;
	color: #111;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

#showcase #landing #search-area-index #type{
	background: transparent;
	border: 3px solid #fff;
	border-radius: 40px;
	padding: 10px;
	color: #fff;
	width: 20%;
	font-size: 20px;
	transition-property: background, border, color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #landing #search-area-index #type:hover{
	background: #fff;
	color: #111;
	border: none;
	cursor: pointer;
	padding: 10px;
}

#showcase #landing #search-area-index #type option{
	background: #f4f4f4;
	color: #000;
	font-size: 16px;
	padding: 10px;
}

#showcase #landing #spotify-link{
	border-radius: 40px;
	padding: 15px;
	text-decoration: none;
	background: #1ed760;
	color: #eee;
}

#showcase #landing #spotify-link:hover{
	border: none;
	text-decoration: underline;
	color: #eee;
}

/* 
	TODO: 
		- make animations on #showcase #about
		- opacity/transitions
		- pass image variables
 */

#showcase #about{
	position: relative;
	top: 50%;
	width: 100%;
	padding:250px 0 35% 0;
	font-size: 28px;
	background: url("../img/bg-2.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	opacity: 0.75;
	line-height: 1.4em;
}

#showcase #about #about-text{
	padding: 20px;
	background: #eee;
	font-family: Arial;
	animation-name: load-about;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#showcase #about .small-text{
	font-size: 21px;
	line-height: 1em;
}

#showcase #about #spotify-link{
	border-radius: 40px;
	padding: 15px;
	text-decoration: none;
	background: #1ed760;
	color: #eee;
}

#showcase #about #spotify-link:hover{
	text-decoration: underline;
	background-color: #1ed760;
}


/* #showcase search.html */
#showcase .results-wrapper{
	text-align:center;
	padding-top: 20px;
}

#showcase #search-area-search{
	border: 3px solid #bb00cc;
	width: 100%;
	right: 200px;
	text-align: center;
	padding-bottom: 60px;
}

#showcase #search-area-search #search-text{
	border: 3px solid #000;
	background: #fff;
	border-radius: 40px;
	color: #000;
	padding: 10px;
	width: 40%;
	font-size:20px;
}

#showcase #search-area-search input[type = "submit"]{
	background: #0099e6;
	border: 3px solid #009966;
	border-radius: 40px;
	padding: 10px;
	color: #fff;
	width: 10%;
	font-size: 18px;
}

#showcase #search-area-search #search-type{
	background: #fff;
	border: 3px solid #000;
	border-radius: 40px;
	padding: 10px;
	color: #000;
	width: 20%;
	font-size: 20px;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper{
	padding: 10px;
	background-color: #282923;
	color: #fff;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result{
	padding: 50px;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album-image{
	float: left;
	left: 70%;
	width: 20%;
	height: 100%;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album-image img{
	width: 100%;
	height: 100%;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-preview{
	float: left;
	position: relative;
	border: 3px solid orange;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-header a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-header a:hover{
	color: #84bd00;
	text-decoration: underline;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists h1{
	text-align: left;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists{
	padding: 20px;
	margin-left:300px;
	margin-right: 20px;
	padding-bottom: 40px;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-artists ul{
	list-style: none;
	display: inline;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album a{
	color: #fff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.225s;
	transition-timing-function: ease-in;
}

#showcase #search-wrapper .results-wrapper .track-results-wrapper .track-result .track-album a:hover{
	color: #84bd00;
	text-decoration: underline;
}

 /* #showcase most_played.html */

#showcase .results-wrapper .artist-results-wrapper .artist{
	border: 3px solid #fff;
}

#showcase .results-wrapper #short-term, #showcase .results-wrapper #medium-term, #showcase .results-wrapper #long-term{
	display: none;
} 

/* 
	TODO:
		- make css on most_played.html;
		- animate most_played.html
 */


#showcase #most-played-wrapper{
	height: 100%;
	overflow: auto;
	width: 100%;
	border: 3px solid darkgreen;
	position: relative;
}

#showcase #most-played-wrapper #search-field{
 	border: 3px solid pink;
 }



#showcase #most-played-wrapper #search-field #most-played-form{
	border: 3px solid red;
 }

#showcase #make-playlist{
	display: inline;
 }

footer{
	background: #000;
	color: #fff;
	text-align:center;
	padding: 10px;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

footer a:visited{
	color: #eee;
	text-decoration: none;
}


/*animations index.html*/
@keyframes load-landing{
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes load-about{
	from{
		top: -1000px;
	}
	to{
		top: 50%;
	}
}


/*
	TODO: 
		- animations on most_played.html;
*/

/*
	TODO: 
		- make every page responsive (@media(min-width));
*/